<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FREETRAINIG</title>

    <!-- Flask 경로 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/train_style.css') }}">

</head>

<body>

<!-- 기타 소리 -->
    <!-- 6번 줄 -->
  <audio class="play_audio mi_6-000 f0" src="../static/media/1-000_mi.mp3"></audio>
  <audio class="play_audio fa_6-100 f1" src="../static/media/1-100_fa.mp3"></audio>
  <audio class="play_audio fa_shap_6-010 f2" src="../static/media/1-010_fa_shap.mp3"></audio>
  <audio class="play_audio sol_6-001 f3" src="../static/media/1-001_sol.mp3"></audio>

  <!-- 5번 줄 -->
  <audio class="play_audio la_5-000 e0" src="../static/media/2-000_la.mp3"></audio>
  <audio class="play_audio la_shap_5-100 e1" src="../static/media/2-100_la_shap.mp3"></audio>
  <audio class="play_audio si_5-010 e2" src="../static/media/2-010_si.mp3"></audio>
  <audio class="play_audio do_5-001 e3" src="../static/media/2-001_do.mp3"></audio>
  
  <!-- 4번 줄 -->
  <audio class="play_audio re_4-000 d0" src="../static/media/3-000_re.mp3"></audio>
  <audio class="play_audio re_shap_4-100 d1" src="../static/media/3-100_re_shap.mp3"></audio>
  <audio class="play_audio mi_4-010 d2" src="../static/media/3-010_mi.mp3"></audio>
  <audio class="play_audio fa_4-001 d3" src="../static/media/3-001_fa.mp3"></audio>

  <!-- 3 번 줄 -->
  <audio class="play_audio sol_3-000 c0" src="../static/media/4-000_sol.mp3"></audio>
  <audio class="play_audio sol_shap_3-100 c1" src="../static/media/4-100_sol_shap.mp3"></audio>
  <audio class="play_audio la_3-010 c2" src="../static/media/4-010_la.mp3"></audio>
  <audio class="play_audio la_shap_3-001 c3" src="../static/media/4-001_la_shap.mp3"></audio>

  <!-- 2번 줄 -->
  <audio class="play_audio si_2-000 b0" src="../static/media/5-000_si.mp3"></audio>
  <audio class="play_audio do_2-100 b1" src="../static/media/5-100_do.mp3"></audio>
  <audio class="play_audio do_shap_2-010 b2" src="../static/media/5-010_do_shap.mp3"></audio>
  <audio class="play_audio re_2-001 b3" src="../static/media/5-001_re.mp3"></audio>

  <!-- 1번 줄 -->
  <audio class="play_audio mi_1-000 a0" src="../static/media/6-000_mi.mp3"></audio>
  <audio class="play_audio fa_1-100 a1" src="../static/media/6-100_fa.mp3"></audio>
  <audio class="play_audio fa_shap_1-010 a2" src="../static/media/6-010_fa_shap.mp3"></audio>
  <audio class="play_audio sol_1-001 a3" src="../static/media/6-001_sol.mp3"></audio>


    <div class="container">
        <a href="/" class="backspace bbutton">B A C K</a>
        <div class="train_Video">
            <video autoplay loop muted>
                <source src="../static/video/white.mp4" type="video/mp4">
            </video>
            <div class="train_text-box">
                <h1>Air Guitar</h1>
            </div>
        </div>
    </div>

    <div class="img-group g container page1">
        <div class="fl_cen">
            <img id="code_C"class="img_code" src="../static/picture/cord/C.png" alt="">
            <h1 class="code_text text_c">C</h1>
        </div>
        <div class="fl_cen">
            <img id="code_D"class="img_code" src="../static/picture/cord/D.png" alt="">
            <h1 class="code_text text_d">D</h1>
        </div>
        <div class="fl_cen">
            <img id="code_E"class="img_code" src="../static/picture/cord/E.png" alt="">
            <h1 class="code_text text_e">E</h1>
        </div>
        <div class="fl_cen">
            <img id="code_F"class="img_code" src="../static/picture/cord/F.png" alt="">
            <h1 class="code_text text_f">F</h1>
        </div>
        <div class="fl_cen">
            <img id="code_G"class="img_code" src="../static/picture/cord/G.png" alt="">
            <h1 class="code_text text_g">G</h1>
        </div>
        <div class="fl_cen">
            <img id="code_A"class="img_code" src="../static/picture/cord/A.png" alt="">
            <h1 class="code_text text_a">A</h1>
        </div>
    </div>
    <div class="img-group g container page2">
        <div class="fl_cen">
            <img id="code_C7"class="img_code" src="../static/picture/cord/C7.png" alt="">
            <h1 class="code_text text_c7">C7</h1>
        </div>
        <div class="fl_cen">
            <img id="code_D7"class="img_code" src="../static/picture/cord/D7.png" alt="">
            <h1 class="code_text text_d7">D7</h1>
        </div>
        <div class="fl_cen">
            <img id="code_E7"class="img_code" src="../static/picture/cord/E7.png" alt="">
            <h1 class="code_text text_e7">E7</h1>
        </div>
        <div class="fl_cen">
            <img id="code_F7"class="img_code" src="../static/picture/cord/F7.png" alt="">
            <h1 class="code_text text_f7">F7</h1>
        </div>
        <div class="fl_cen">
            <img id="code_G7"class="img_code" src="../static/picture/cord/G7.png" alt="">
            <h1 class="code_text text_g7">G7</h1>
        </div>
        <div class="fl_cen">
            <img id="code_A7"class="img_code" src="../static/picture/cord/A7.png" alt="">
            <h1 class="code_text text_a7">A7</h1>
        </div>
    </div>
    <div class="img-group g container page3">
        <div class="fl_cen">
            <img id="code_B7"class="img_code" src="../static/picture/cord/B7.png" alt="">
            <h1 class="code_text text_b7">B7</h1>
        </div>
        <div class="fl_cen">
            <img id="code_Dm"class="img_code" src="../static/picture/cord/Dm.png" alt="">
            <h1 class="code_text text_dm">Dm</h1>
        </div>
        <div class="fl_cen">
            <img id="code_Em"class="img_code" src="../static/picture/cord/Em.png" alt="">
            <h1 class="code_text text_em">Em</h1>
        </div>
        <div class="fl_cen">
            <img id="code_Fm"class="img_code" src="../static/picture/cord/Fm.png" alt="">
            <h1 class="code_text text_fm">Fm</h1>
        </div>
        <div class="fl_cen">
            <img id="code_Am"class="img_code" src="../static/picture/cord/Am.png" alt="">
            <h1 class="code_text text_am">Am</h1>
        </div>
    </div>
    <div class="container_next">
        <a class="backspace bbutton" id="prev" onclick="prev_page()">Prev</a>
        <a class="backspace bbutton" id="next" onclick="next_page()">Next</a>
    </div>
    <!-- <div>
        <p id="offscreen-text" class="offscreen-text"></p>
        <p id="text" class="text"></p>
    
        <svg id="svg">
        </svg>
    
        <input type="text" class="input" , id="input" />
    </div> -->
    
    <!-- Flask 경로 -->
    <!-- <script src="{{ url_for('static', filename='js/highlight.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/key_input.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/key_input_ver2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/code_list.js') }}"></script>
    <script src="{{ url_for('static', filename='js/code_img_click.js') }}"></script>
    <script src="{{ url_for('static', filename='js/next_prev.js') }}"></script>

</body>

</html>