<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <!-- 기본 경로 -->
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->

    <!-- Flask 경로 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="mainVideo">
        <video autoplay loop muted>
            <source src="../static/video/video.mp4" type="video/mp4">
        </video>
        <div class="text-box">
            <h1>Air Guitar</h1>
        </div>
    </div>
    <div class="mainBtn">

        <a href="/game" class="main button">게임 시작</a>
        <a href="/free" class="main button">자유 연습모드</a>
    </div> 
    
    
</body>

</html>