/* ----------폰트 따오기---------------- */
@import url('http://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing : border-box;
    font-family: 'Roboto',sans-serif;
}
/* -------------------------------------- */
/* ------------------------메인 비디오 재생------------------------------------ */
.mainVideo{
    width:100%;
    height:80vh;
    position:relative;

}

.mainVideo video{
    width:100%;
    height:100%;
}


.text-box{
    position:absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;   
    font-size: 80px;
    font-weight: 900;
    mix-blend-mode: multiply;
}
/* -----------------------------메인 비디오 재생------------------------------------ */
/* -----------------------------메이페이지 버튼--------------------------------------- */
body{
    background-color: #000;
}
.mainBtn{
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.main.button {
    background-color: rgb(39, 39, 168);  
   
    border: none;  
    color: white;  
    padding: 15px 30px;  
    text-align: center;  
    text-decoration: none;  
    /* display: inline-flex;   */
    /* flex-direction: row; */
    font-size: 16px;  
    /* margin: 48px 300px;   */
    border-radius: 15px;
    cursor: pointer;  
  }
  .main.button:hover {
    background-color: rgb(235, 86, 106);
  }
/* ------------------------------------------------------------------- */



  




